/// <reference file="../vars" />

html {
	height: 100%;
}

body {
	background-color: $body-bg;
	color: $body-text;
	display: flex;
	flex-direction: column;
	min-height: 100%;

	> * {
		padding: $gutter;

		@include media-query(lap-and-up) {
			min-height: 100%;
		}
	}

	@include media-query(lap-and-up) {
		flex-direction: row;
	}
}

@include headings(1, 6) {
	color: $brand-colour;
	font-family: $brand-font-family;
	line-height: 1.1 !important;
	margin: 0;
}

.alpha, .beta, .gamma,
.delta, .epsilon, .zeta {
	line-height: 1.1 !important;
}

a {
	color: $brand-colour;
	
	&:focus {
		outline: none;
	}
}

p {
	font-size: 18px;
	line-height: 1.6;
}

dl {
	margin: 0;
	padding: 0;

	dd {
		margin: 0;
	}
}

blockquote {
	text-indent: 0;
	padding: 10px 25px 15px;
	position: relative;
	margin: 0;
	
	&:before,
	&:after {
		@extend .icon;
		position: absolute;
		font-size: 24px;
		color: $brand-colour;
	}

	&:before {
		content: "\22"; // open quote
		top: 0;
		left: 0;
	}

	&:after {
		content: "\27"; // close quote
		bottom: 0;
		right: 0;
	}

	p {
		@include font-size(18px, $line-height: false);
		font-style: italic;

		&:last-of-type {
			margin: 0;
		}
	}
}

cite {
	font-style: normal;
	font-weight: bold;
	@include font-size(12px, $line-height: false);
}

table {
	border: none;
	width: 100%;
	//table-layout: fixed;
	//@include font-size(12px, $line-height: false);
	border-collapse: collapse;
	margin: 0 !important;

	thead {
		th {
			background-color: $brand-colour;
			color: $brand-text;
		}
	}

	tr {
		td {
			border-bottom: $divider;
			background-color: $body-bg;
		}
		
		&:nth-child(even) td {
			background-color: $table-row-bg--even;
		}
	}

	th {
		font-weight: bold;
	}

	th, td {
		vertical-align: top;
		padding: 8px;

		@include media-query(lap-and-up) {
			padding: 15px;
		}
	}
}

mark {
	background: transparent !important;
	color: inherit !important;
}

abbr {
	border: none !important;
}

address {
	font-style: normal;
}

hr {
	height: 12px;
	border: none;
}

iframe {
	//width: 100% !important;
}