<header class="header">

  <a class="header__title" href="{{ site.baseurl }}/">
    <span class="header__logo">
      db
    </span>
    <span class="header__title visuallyhidden">
      {{ site.title }}
    </span>
  </a>

  <nav class="header__nav">
    <ul class="nav">
      {% assign pages = site.pages | sort:"weight"  %}
      {% for page in pages %}
        {% unless page.exclude %}
          {% if page.title %}
          <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endunless %}
      {% endfor %}
    </ul>
  </nav>

  <p class="header__intro">{{ site.description }}

</header>