/// <reference file="../../vars" />

.content {
	background: $body-bg;
	width: 100%;

	@include media-query(lap-and-up) {
		flex: 60% 1 auto;
	}

    h1 {
        border-bottom: 2px solid $brand-colour;
        padding: 0 0 30px 0;
    }

    img {
        width: 100%;

        @include media-query(lap-and-up) {
            float: left;
            margin-right: 15px;
            max-width: 200px;
        }
    }

    * + * {
        margin-top: 0.75em;
        margin-bottom: 0;
    }
}