/// <reference file="../../vars" />

.footer {
	background-color: $brand-colour;
	padding: $gutter $gutter/2;
	width: 100%;

	@include media-query(lap-and-up) {
		flex-basis: 80px;
	}

	&__links {
		ul {
			@extend .nav;

			margin: 0;
			text-align: center;
		}

		li {
			@include media-query(lap-and-up) {
				display: block !important;
				margin: 0 auto $gutter/4 auto;
			}
		}

		a {
			display: block !important;
			height: 40px;
			width: 40px;
		}

		.icon path {
			fill: #ffffff;
		}
	}
}