.availability {
    background-color: $brand-colour;
    color: #ffffff;
    padding: 15px;
    width: 100%;

    @include media-query(desk) {
        float: right;
        margin-left: 15px;
        max-width: 350px;
    }

    * + * {
        margin-top: 0.75em !important;
        margin-bottom: 0;
    }

    h2 {
        color: #ffffff;
    }

    a {
        @extend .btn;
        @extend .btn--small;

        background-color: $body-bg;
        font-size: 18px;
    }
}